# <center><font color='blue'>IS362 Assignment 11 Fall 2020</center><font>

![My_Text](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSZtgSr9JkT6mwn474na4hRPHouehtMwM94lQ&usqp=CAU)

# Project 4 - Predictive Analysis Using scikit-learn

__This assignment uses data from the mushroom dataset found at https://archive.ics.uci.edu/ml/datasets/Mushroom and scikit-learn to determine which of the two predictor columns selected in Assignment 13 most accurately predicts whether or not a mushroom is poisonous.__

__The predictive analysis techniques are adapted from [Kevin Markham's video tutorial series "Introduction to machine learning with scikit-learn."](https://github.com/justmarkham/scikit-learn-videos)__

__As in Assignment 13, first we look at the data dictionary to see what we're dealing with. We find:__

In [9]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/mushroom/agaricus-lepiota.data'
mushrooms = pd.read_csv(url, usecols = [22,4,19], names = ['habitat', 'bruises', 'Ringtype'])
mushrooms.head()

  habitat bruises Ringtype
0       t       p        u
1       t       p        g
2       t       p        m
3       t       p        u
4       f       e        g

### I will be replacing the codes with numeric values

In [10]:
mushrooms['habitat'].replace({'p': 1,'e': 0}, inplace = True)
mushrooms['bruises'].replace(
    {'a':0,'l':1,'c':2,'y':3,'f':4,'m':5,'n':6,'p':7,'s':8}, inplace = True)
mushrooms['Ringtype'].replace({'n':0, 'o':1, 't': 2}, inplace = True)
mushrooms.head()

  habitat bruises Ringtype
0       t       7        u
1       t       7        g
2       t       7        m
3       t       7        u
4       f       e        g

### We will use the get-dumies method to convert the Habitat column into a set of columns

In [11]:
habitat = pd.get_dummies(mushrooms['habitat'])
habitat.head()

   f  t
0  0  1
1  0  1
2  0  1
3  0  1
4  1  0

In [12]:
# define X and y
X = habitat
y = mushrooms.Class

AttributeError: 'DataFrame' object has no attribute 'Class'